*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    background-image: url(../L02/L02Fotos/foto1_big.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.inner_header{
    width: 800px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    width: 100px;
    display: table;
    float: left;
}

.logo{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    display: flex;
    float: right;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #a0a0a0;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.5px;
}

.navigation a li::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 3vh;
    transition: 0.3s;
}

.navigation a li:hover{
    color: #ffffff;
}

.navigation a li:hover::after{
    width: 100%;
}

.headlines{
    display: flex;
    justify-content: center;
}

.inner_headlines{
    width: 800px;
}

h1 {
    width: 266;
    margin: 40px 0px 0px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h2 {
    width: 266;
    margin: 20px 0px 0px 0px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.contact_headlines{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 40px 0px 20px 0px;
    font-size: 20px;
    font-weight: 700;
}

.contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: 0 auto;
    font-weight: 400;
}

.input{
    width: 800px;
    margin: 0 auto;
}

.input_container{
    width: 800px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    display: block;
    background: #eaeaea;
    width: 300px;
    padding: 10px;
    resize: none;
    border: none;
}

textarea:focus::placeholder{
    color: transparent;
}

textarea::placeholder{
    color:#222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;

}

.input_regular{
    width: 300px;
    background: #eaeaea;
    border: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus::placeholder{
    color: transparent;
}

input::placeholder{
    color: #222;
    transition: color 0.3s ease;
}

.button_container{
    display: flex;
    width: 800px;
    margin: 0 auto;
}

button{
    padding: 10px;
    border: none;
    color:#222;
}

.aboutme_headlines{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px 0px 25px 0px;
    font-size: 20px;
    font-weight: 700;
}

.float_img{
    display:flex;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}

.aboutme_container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: 0 auto;
    font-weight: 400;
}

.aboutme_text{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}


.footer{
    display: flex;
    justify-content: center;
    height: 250px;
    margin: 70px 0px 0px 0px;
    background: #eaeaea;
}

.footer_parts {
    width: 266px;
    margin: 60px 0px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: grey;
}

.icons {
    width: 30px;
    height: 30px;
}
