*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner_container{
    width: 500px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: fixed;
    right: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    transform: rotate(30deg);
}

.banner{
    background-color: rgb(0, 0, 0);
    transform:translateX(150px) translateY(-50px);
    box-shadow:0px 0px 20px rgb(0, 0, 0);
    padding: 10px;
}

.internship{
    font-size: 23px;
}

.header{
    background-image: url(../L02/L02Fotos/foto1_big.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display:flex;
    width: 100%;
    min-width: 800px;
    min-height: 500px;
    transition: 1s;
    animation: animate;
    animation-direction: alternate-reverse;
    animation-duration: 7.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(images/skybox.jpg); 
    }
    50%{
        background-image: url(images/themelodicblue.jpg); 
    }
    100%{
        background-image: url(../L02/L02Fotos/foto1_big.jpg);
    }
}


.inner_header{
    width: 800px;
    height: 110px;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    width: 100px;
    display: table;
    float: left;
}

.logo{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    display: block;
    float: right;
    position: relative;
    right: 0;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px 0px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.5px;
}

.navigation .not_current{
    color: #a0a0a0;
}

.navigation .current{
    color: #ffffff;
}

ul .current li::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 25px;
    z-index: 5;
}

ul .not_current li::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 25px;
    z-index: 5;
    transition: 0.3s;
}

.navigation a li:hover{
    color: #ffffff;
}

.navigation a li:hover::after{
    width: 100%;
}

.headlines{
    display: flex;
    justify-content: center;
}

.inner_headlines{
    width: 800px;
}

h1 {
    width: 266;
    margin: 60px 0px 0px 0px;
    font-family: 'Bitter';
    font-size: 30px;
}

h2 {
    width: 266;
    margin: 50px 0px 0px 0px; 
    font-family: 'Bitter';
    font-size: 30px;
}

h3{
    font-family: 'Bitter';
    width: 800px;
    margin: 0 auto;
    padding: 60px 0px 20px 0px;
    font-size: 30px;
    font-weight: 700;
}

h4{
    font-family: 'Bitter';
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0px 20px 0px;
    font-size: 30px;
    font-weight: 700;
}

.image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    transform: scale(1);
    opacity: 100%;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    transform: scale(1);
    transition: 0.4s;
}

.images:hover{
    transition: 0.4s;
    transition-timing-function: ease-out;
    transform: scale(1.05);
}

.contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: 0 auto;
    font-weight: 400;
}

.input{
    width: 800px;
    margin: 0 auto;
}

.input_container{
    width: 800px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    display: block;
    background: #eaeaea;
    width: 300px;
    padding: 10px;
    resize: none;
    border: none;
}

textarea:focus::placeholder{
    color: transparent;
}

textarea::placeholder{
    color:#222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;

}

.input_regular{
    width: 300px;
    background: #eaeaea;
    border: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus::placeholder{
    color: transparent;
}

input::placeholder{
    color: #222;
    transition: color 0.3s ease;
}

.button_container{
    display: flex;
    width: 800px;
    margin: 0 auto;
}

button{
    padding: 10px;
    border: none;
    color:#222;
}

.float_img{
    display:flex;
    justify-content: center;
    padding: 3px 0px 20px 0px;
}

.aboutme_container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 800px;
    margin: 0 auto;
    font-weight: 400;
}

.about_metext{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.footer{
    display: flex;
    justify-content: center;
    height: 250px;
    margin: 70px 0px 0px 0px;
    background: #eaeaea;
}

.footer_parts {
    width: 266px;
    margin: 60px 0px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: grey;
}

.icons {
    width: 30px;
    height: 30px;
    opacity: 40%;
}

.icons:hover{
    opacity: 100%;
    transition: 0.2s;
}
